<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>AdminDashboard</title>
  <!-- loader-->
  <link href="/admin/assets/css/pace.min.css" rel="stylesheet" />
  <script src="/admin/assets/js/pace.min.js"></script>
  <!--favicon-->
  <link rel="icon" href="/admin/assets/images/favicon.ico" type="image/x-icon">
  <!-- Vector CSS -->
  <!-- <link href="/admin//assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" /> -->
  <!-- simplebar CSS-->
  <link href="/admin/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
  <!-- Bootstrap core CSS-->
  <link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet" />
  <!-- animate CSS-->
  <link href="/admin/assets/css/animate.css" rel="stylesheet" type="text/css" />
  <!-- Icons CSS-->
  <link href="/admin/assets/css/icons.css" rel="stylesheet" type="text/css" />
  <!-- Sidebar CSS-->
  <link href="/admin/assets/css/sidebar-menu.css" rel="stylesheet" />
  <!-- Custom Style-->
  <link href="/admin/assets/css/app-style.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />



    

</head>

<body class="bg-theme bg-theme2">

  <!-- Start wrapper-->
  <div id="wrapper">

    <!--Start sidebar-wrapper-->
    <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
      <div class="brand-logo">
        <a>
          <!-- <img src="/images/logo-icon.png" class="logo-icon" alt="logo icon"> -->
          <h5 class="logo-text">COZASTORE Admin</h5>
        </a>
      </div>
      <ul class="sidebar-menu do-nicescrol">
        <li class="sidebar-header">MAIN NAVIGATION</li>
        <li>
          <a href="/admin/dashboard">
            <i class="fa-solid fa-gauge-simple"></i><span>dashboard</span>
          </a>
        </li>

        <li>
          <a href="/admin/users">
            <i class="fa-solid fa-user"></i> <span>users</span>
          </a>
        </li>

        <li>
          <a href="/admin/categories">
            <i class="fa-solid fa-list"></i> <span>categories</span>
          </a>
        </li>

        <li>
          <a href="/admin/products">
            <i class="fa-brands fa-product-hunt"></i> <span>products</span>
          </a>
        </li>
        <li>
          <a href="/admin/orders">
            <i class="fa-brands fa-jedi-order"></i> <span>Orders</span>
          </a>
        </li>
        <li>
          <a href="/admin/coupons">
            <i class="fa-solid fa-dollar-sign"></i> <span>coupons</span>
          </a>
        </li>
        <li>
          <a href="/admin/offers">
            <i class="fa-solid fa-briefcase"></i><span>offers</span>
          </a>
        </li>
        <li>
          <a href="/admin/banner">
            <i class="fa-solid fa-panorama"></i><span>banner</span>
          </a>
        </li>
       




      </ul>

    </div>
    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header class="topbar-nav">
      <nav class="navbar navbar-expand fixed-top">
        <ul class="navbar-nav mr-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link toggle-menu" href="javascript:void();">
              <i class="icon-menu menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <form class="search-bar">
              <input type="text" class="form-control" placeholder="Enter keywords">
              <a href="javascript:void();"><i class="icon-magnifier"></i></a>
            </form>
          </li>
        </ul>

        <ul class="navbar-nav align-items-center right-nav-link">
          <li class="nav-item dropdown-lg">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
              href="javascript:void();">
              <i class="fa fa-envelope-open-o"></i></a>
          </li>
          <li class="nav-item dropdown-lg">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
              href="javascript:void();">
              <i class="fa fa-bell-o"></i></a>
          </li>
          <li class="nav-item language">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
              href="javascript:void();"><i class="fa fa-flag"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
              <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
              <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
              <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
              <span class="user-profile"><img src="/images/me.jpg" class="img-circle" alt="user avatar"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item user-details">
                <a href="javaScript:void();">
                  <div class="media">
                    <div class="avatar"><img class="align-self-start mr-3" src="/images/me.jpg" alt="user avatar">
                    </div>
                    <div class="media-body">
                      <h6 class="mt-2 user-title">Muhammed Firos</h6>
                      <p class="user-subtitle">admin@gmail.com</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><a href="/admin/adminlogout"><i class="icon-power mr-2"></i> Logout</li></a>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <!--End topbar header-->

    <div class="clearfix"></div>

    <div class="content-wrapper">
      <div class="container-fluid">

        <!--Start Dashboard Content-->

        <section class="content-main">
          <div class="content-header">
              <div>
                <div class=" text-center text-danger fw-bold" style="font-size:xx-large;">DASHBOARD</div>
                  <p class="text-center">Whole data about your business here</p>
              </div>
              <div>
                  <a href="/admin/sales-report" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Sales report</a>
              </div>
              <br>
          </div>
          <div class="row">
              <div class="col-lg-3">
                  <div class="card card-body mb-4">
                      <article class="icontext">
                          <span class="icon icon-sm rounded-circle bg-primary"><i class="text-primary material-icons md-monetization_on"></i></span>
                          <div class="text">
                              <h6 class="mb-1 card-title">Revenue: <span>₹<%= totalSales.totalRevenue %></span></h6>
                             
                              <br>
                              <span class="text-sm "> Revenue based on orders placed and delivered  </span>
                          </div>
                      </article>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="card card-body mb-4">
                      <article class="icontext">
                          <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                          <div class="text">
                              <h6 class="mb-1 card-title">Orders</h6>
                              <span><strong>Total Orders : </strong> <%= orderCounts.totalOrders %></span><br>
                              <span class="text-sm ">Delivered Orders : <%= orderCounts.deliveredOrders %> </span><br>
                              <span class="text-sm">Pending Orders &nbsp;&nbsp;&nbsp; :  <%= orderCounts.otherOrders %> </span>
                          </div>
                      </article>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="card card-body mb-4">
                      <article class="icontext">
                          <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                          <div class="text">
                              <h6 class="mb-1 card-title">Products</h6>
                              <span><%= productCount %> products</span>
                              <span class="text-sm"> in <%= categoryCount %> category </span>
                          </div>
                      </article>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="card card-body mb-4">
                      <article class="icontext">
                          <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                          <div class="text">
                              <h6 class="mb-1 card-title">Monthly Earning</h6>
                              
                              <span>₹<%= monthlySales[0]?.totalSales %> </span>
                              <span class="text-sm"> Current month earning </span>
                          </div>
                      </article>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xl-8 col-lg-12">
                  <div class="card mb-4">
                      <article class="card-body">
                          <div style="display: flex; justify-content: space-between;">
                              <div>
                                  <h5 class="card-title">Sale statistics</h5>
                              </div>
                              <div>
                                  <button class="btn btn-danger toggle-chart" data-chart-type="monthly">Monthly</button>
                          <button class="btn btn-primary toggle-chart" data-chart-type="yearly">Yearly</button>
                              </div>
                          
                          </div><br>
                          
                          <canvas id="myChart" ></canvas>
                      </article>
                  </div>
                  <div class="row">
                      <div class="card mb-4">
                          <header class="card-header">
                              <h4 class="card-title">New Members</h4>
                          </header>
                          <div class="card-body">
                              <div class="table-responsive">
                                  <table class="table align-middle table-nowrap mb-0">
                                      <thead class="table-light">
                                          <tr>
                                              <th scope="col" class="text-center">
                                                  <div class="form-check align-middle">
                                                      <label class="form-check-label" for="transactionCheck01"></label>
                                                  </div>
                                              </th>
                                              <th class="align-middle" scope="col">Name</th>
                                              <th class="align-middle" scope="col">Email</th>
                                              <th class="align-middle" scope="col">Mobile</th>
                                              <th class="align-middle" scope="col">Joined Date</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <%latestUsers.forEach(person=>{%>
                                              <tr>
                                                  <td class="text-center">
                                                      <div class="form-check">
                                                          <label class="form-check-label" for="transactionCheck02"></label>
                                                      </div>
                                                  </td>
                                                  <td><a href="#" class="fw-bold">
                                                          <%=person.username%>
                                                      </a></td>
                                                  <td>
                                                      <%=person.email%>
                                                  </td>
                                                  <td>
                                                      <%=person.mobileNumber%>
                                                  </td>
                                                  <td>
                                                    <% 
                                                    // Assuming createdAt is a date object or a parsable date string
                                                    const createdAt = new Date(person.createdAt);
                                                    // Check if the timezone offset is 0 (GMT)
                                                    if (createdAt.getTimezoneOffset() === 0) { %>
                                                        <!-- If it's GMT, you can hide details or display a message -->
                                                        <span>Details hidden for GMT time</span>
                                                    <% } else { %>
                                                        <!-- Display the createdAt time -->
                                                        <%= createdAt.toLocaleDateString() %>
                                                    <% } %>
                                                  </td>
                                              </tr>
                                          <%})%>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="col-xl-4 col-lg-12">
                  
                      <div class="card mb-4">
                        <article class="card-body" >
                          <h5 class="card-title">Order Chart</h5>
                          <div id="chart3" class="badge-dark badge  "></div>
                        </article>
                      </div>
                   
                  
                 
                      <div class="card mb-4">
                          <article class="card-body" >
                            <h5 class="card-title">Payment Method Chart</h5>
                            <div id="chart4" class="badge-dark badge  " ></div>
                          </article>
                          <span  style="text-align: center; margin-bottom: 25px;">Based on total orders</span>
                        </div>
                  </div>
              

              
          </div>
          <div class="card mb-4">
              <header class="card-header">
                  <h4 class="card-title">Latest orders</h4>
              </header>
              <div class="card-body">
                  <div class="table-responsive">
                      <div class="table-responsive">
                          <table class="table align-middle table-nowrap mb-0">
                              <thead class="table-light">
                                  <tr>
                                      <th></th>
                                      <th class="align-middle" scope="col"></th>
                                      <th class="align-middle" scope="col">Order ID</th>
                                      <th class="align-middle" scope="col">Billing Name</th>
                                      <th class="align-middle" scope="col">Date</th>
                                      
                                      <th class="align-middle" scope="col">Payment Status</th>
                                      <th class="align-middle" scope="col">Payment Method</th>
                                      <th class="align-middle" scope="col">View Details</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <% latestOrders.forEach((order,index)=> { %>
                                  <tr>
                                      <td></td>
                                      <td><%= index+1 %></td>
                                      <td><a href="#" class="fw-bold">#<%= order.order_id %></a></td>
                                      <td><%= order.user_name %></td>
                                      <td><%= moment(order.date).format('DD MMM, YYYY') %></td>
                                      
                                      <td>
                                          <span class="badge badge-pill badge-danger"><%= order.items.ordered_status %></span>
                                      </td>
                                      <td><i class="material-icons md-payment font-xxl text-muted mr-5"></i> <%= order.payment %> </td>
                                      <td>
                                          <a  href="/admin/view?orderId=<%= order._id %>&itemId=<%= order.items._id %>" class="btn btn-sm btn-secondary"> View details</a>
                                      </td>
                                  </tr>
                                  <% }) %>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- table-responsive end// -->
              </div>
          </div>

          <input type="hidden" value="<%= updatedYearlyValues[0].total %>" id="2018" />
          <input type="hidden" value="<%= updatedYearlyValues[1].total %>" id="2019" />
          <input type="hidden" value="<%= updatedYearlyValues[2].total %>" id="2020" />
          <input type="hidden" value="<%= updatedYearlyValues[3].total %>" id="2021" />
          <input type="hidden" value="<%= updatedYearlyValues[4].total %>" id="2022" />
          <input type="hidden" value="<%= updatedYearlyValues[5].total %>" id="2023" />
          <input type="hidden" value="<%= updatedYearlyValues[6].total %>" id="2024" />
  
    
          
          <input type="hidden" value="<%= updatedMonthlyValues[0].total %>" id="jan" />
          <input type="hidden" value="<%= updatedMonthlyValues[1].total %>" id="feb" />
          <input type="hidden" value="<%= updatedMonthlyValues[2].total %>" id="mar" />
          <input type="hidden" value="<%= updatedMonthlyValues[3].total %>" id="apr" />
          <input type="hidden" value="<%= updatedMonthlyValues[4].total %>" id="may" />
          <input type="hidden" value="<%= updatedMonthlyValues[5].total %>" id="jun" />
          <input type="hidden" value="<%= updatedMonthlyValues[6].total %>" id="jul" />
          <input type="hidden" value="<%= updatedMonthlyValues[7].total %>" id="aug" />
          <input type="hidden" value="<%= updatedMonthlyValues[8].total %>" id="sep" />
          <input type="hidden" value="<%= updatedMonthlyValues[9].total %>" id="oct" />
          <input type="hidden" value="<%= updatedMonthlyValues[10].total %>" id="nov" />
          <input type="hidden" value="<%= updatedMonthlyValues[11].total %>" id="dec" />

          
       
      </section>        <!--End Dashboard Content-->

        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

      </div>
      <!-- End container-fluid-->

    </div><!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

    <!--Start footer-->
    <footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2018 Dashtreme Admin
        </div>
      </div>
    </footer>
    <!--End footer-->

    <!--start color switcher-->
    <div class="right-sidebar">
      <div class="switcher-icon">
        <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
      </div>
      <div class="right-sidebar-content">

        <p class="mb-0">Gaussion Texture</p>
        <hr>

        <ul class="switcher">
          <li id="theme1"></li>
          <li id="theme2"></li>
          <li id="theme3"></li>
          <li id="theme4"></li>
          <li id="theme5"></li>
          <li id="theme6"></li>
        </ul>

        <p class="mb-0">Gradient Background</p>
        <hr>

        <ul class="switcher">
          <li id="theme7"></li>
          <li id="theme8"></li>
          <li id="theme9"></li>
          <li id="theme10"></li>
          <li id="theme11"></li>
          <li id="theme12"></li>
          <li id="theme13"></li>
          <li id="theme14"></li>
          <li id="theme15"></li>
        </ul>

      </div>
    </div>
    <!--end color switcher-->

  </div><!--End wrapper-->

  <!-- Bootstrap core JavaScript-->
  <script src="/admin/assets/js/jquery.min.js"></script>
  <script src="/admin//assets/js/popper.min.js"></script>
  <script src="/admin/assets/js/bootstrap.min.js"></script>

  <!-- simplebar js -->
  <script src="/admin/assets/plugins/simplebar/js/simplebar.js"></script>
  <!-- sidebar-menu js -->
  <script src="/admin/assets/js/sidebar-menu.js"></script>
  <!-- loader scripts -->
  <!-- <script src="/admin/assets/js/jquery.loading-indicator.js"></script> -->
  <!-- Custom scripts -->
  <script src="/admin/assets/js/app-script.js"></script>
  <!-- Chart js -->

  <script src="/admin/assets/plugins/Chart.js/Chart.min.js"></script>

  <script src="/admin/assets/js/schart.js"></script>

  <!-- Index js -->
  <!-- <script src="/admin/assets/js/index.js"></script> -->

 

  
   <!-- Include Chart.js script -->
   <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


  <script>
    let cancelOrder = parseInt("<%= orderCounts.cancelOrders %>");
    let placeOrder = parseInt("<%= orderCounts.totalOrders %>");
    let deliveredOrder = parseInt("<%= orderCounts.deliveredOrders %>");
    var options = {
      series: [ cancelOrder,placeOrder, deliveredOrder],
      chart: {
        width: 280,
        type: "pie",
      },
      labels: [ "Cancelled","Placed", "Delivered"],
     
      responsive: [
        {
          breakpoint: 480,
          options: {
            chart: {
              width: 200,
            },
            legend: {
              position: "bottom",
            },
          },
        },
      ],
      
    };

    var chart = new ApexCharts(document.querySelector("#chart3"), options);
    chart.render();
  </script>



<script>
let wallet = parseInt("<%= paymentCounts.wallet %>");
let razorPay = parseInt("<%= paymentCounts.razorpay %>");
let cod = parseInt("<%= paymentCounts.cod %>");
var options = {
series: [  cod, razorPay, wallet],
chart: {
width: 280,
type: "pie",
},
labels: [ "Cash on Delivery", "Razorpay", "Wallet"],
responsive: [
{
  breakpoint: 480,
  options: {
    chart: {
      width: 200,
    },
    legend: {
      position: "bottom",
    },
  },
},
],
};

var chart = new ApexCharts(document.querySelector("#chart4"), options);
chart.render();
</script>




</body>

</html>