<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin-Orders</title>
    <!-- loader-->
    <link href="assets/css/pace.min.css" rel="stylesheet" />
    <script src="assets/js/pace.min.js"></script>
    <!--favicon-->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- simplebar CSS-->
    <link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bootstrap core CSS-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="assets/css/app-style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">




</head>

<body class="bg-theme bg-theme2">

    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming">
        <div class="loader-wrapper-outer">
            <div class="loader-wrapper-inner">
                <div class="loader"></div>
            </div>
        </div>
    </div>
    <!-- end loader -->

    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo">
                <a href="/admin/dashboard">
                    <!-- <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon"> -->
                    <h5 class="logo-text">COZASTORE Admin</h5>
                </a>
            </div>
            <ul class="sidebar-menu do-nicescrol">
                <li class="sidebar-header">MAIN NAVIGATION</li>
                <li>
                    <a href="/admin/dashboard">
                        <i class="fa-solid fa-gauge-simple"></i> <span>dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/users">
                        <i class="fa-solid fa-user"></i> <span>users</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/categories">
                        <i class="fa-solid fa-list"></i> <span>categories</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/products">
                        <i class="fa-brands fa-product-hunt"></i> <span>products</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/orders">
                      <i class="fa-brands fa-jedi-order"></i> <span>Orders</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/offers">
                      <i class="fa-solid fa-briefcase"></i><span>offers</span>
                    </a>
                  </li>
                  <li>
                    <a href="/admin/banner">
                      <i class="fa-solid fa-panorama"></i><span>banner</span>
                    </a>
                  </li>
            


            </ul>

        </div>
        <!--End sidebar-wrapper-->


        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="search-bar">
                            <input type="text" class="form-control" placeholder="Enter keywords" id="name-search">
                            <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                            href="javascript:void();">
                            <i class="fa fa-envelope-open-o"></i></a>
                    </li>
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                            href="javascript:void();">
                            <i class="fa fa-bell-o"></i></a>
                    </li>
                    <li class="nav-item language">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                            href="javascript:void();"><i class="fa fa-flag"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                            <span class="user-profile"><img src="/images/me.jpg" class="img-circle"
                                    alt="user avatar"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item user-details">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="/images/me.jpg"
                                                alt="user avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">Muhammed Firos</h6>
                                            <p class="user-subtitle">admin@gmail.com</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><a href="/admin/adminlogout"><i class="icon-power mr-2"></i>
                                    Logout</li></a>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->
        <div class="clearfix"></div>

        <div class="container">
            <div class="row mt-5">
            <div class="col-10 mb-5" style="margin-top: 40px;" >
            <h3 class="text-secondary" style="margin-left: 100px;">Order Details</h3>
            </div>
            <div class="col-2 mb-5" style="margin-top: 40px;">
                <a href="/admin/orders"><button class="btn btn-outline-light text-secondary rounded font-md mr-5 text-body hover-up ms-5">Go Back</button></a>  
                  
              </div>

        </div>
            <div class="mt-5" style="margin-left: 150px;">
                <div class="card mb-4 rounded-0">
                   
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 class="card-title text-decoration-underline">Delivery Address:</h4>
                                <p class="card-text text-secondary" style="font-size: 1.2rem;">
                                    <%= order.delivery_address %>
                                </p>
                      
                                <div class="mt-2">
                                    <% const addressParts = order.delivery_address.split(',');
                                      %>
                                      
                                      <br>
                                    <h6>Contact Details: </h6>
                                    
                                  <p class="text-secondary">email: <%=order.user_id.email  %> </p>
                                    
                                        <p class="text-secondary"> mob: <%=order.user_id.mobileNumber  %></p>
                                       
                                    
                                </div>
                              
                            </div>
                            <div class="col-md-4 mt-5 mt-md-0 text-nowrap">
                                <h4 class="card-title text-decoration-underline ">Order Details:</h4>
                          <% const addressName = order.delivery_address.split(',');
                                      %>
                                      <% const customerName=addressName[0].trim() %>
                                <div class="mb-2 text-secondary">
                                    Customer: <%=customerName  %>
                                </div>
                                <div class="mb-2 text-secondary">
                                    <span>OrderId: <%=order.order_id  %></span><br>
                                    <span>Date: <%= moment(order.date).format('DD/MM/YYYY') %> </span><br>
                                </div>
                                <div class="mb-2 text-secondary">
                                    <span>Payment Method: <%=order.payment  %></span><br>
                                    <span></span>
                                </div>
                                
                               
                            </div>
                            <div class="col-md-4 mt-5 mt-md-0">
                                <h4 class="card-title text-decoration-underline">Actions:</h4>
                                <div class="mt-3 text-secondary">
                                    <strong>Status: <%=item.ordered_status  %></strong><br>
                                    <i class="bi bi-check-circle text-success"></i><br>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <!-- prods -->
                 
                <div class="container ">
               
                <div class="row mt-4">
                    
                    <div class=" mb-3">
                      
                        <div class="card rounded-0 w-100">
                            <div class="card-body">
                                <div class="d-flex">
                                    
                                    <div class="me-3">
                                        <div class="me-3">
                                            <img src="/sharpImages/<%= item.product_id.images[0] %>" class="img-fluid" alt="<%= item.product_id.name %>" width="200rem">
                                        </div>
                                        
                                    </div>
                                    <div>
                                        <h4 class="card-title display-6">
                                        PRODUCT NAME : <p class="display-5 text-secondary mt-2"><%= item.product_id.name  %></p>
                                        </h4>
                                        <span class="font-size:20px text-secondary ms-4"><b>Category</b>: <%=item.product_id.category  %></span><br>
                                       
                                        <span class="card-text text-secondary ms-4">Quantity: <%=item.quantity  %></span>
                                       
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Change Status</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="#" method="post">
                                <div class="modal-body">
                                    <input type="hidden" name="orderId" id="orderId">
                                    <label for="status">Select delivery status</label><br><br>
                                    <select name="status" class="form-control" id="status">
                                        <option value="Shipped">Shipped</option>
                                        <option value="Out for delivery">Out for delivery</option>
                                        <option value="Delivered">Delivered</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CLOSE</button>
                                    <button type="submit" class="btn btn-success">UPDATE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>

      

        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--Start footer-->
        
        <!--End footer-->

        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>

            </div>
        </div>
        <!--end color switcher-->

    </div><!--End wrapper-->


    <!-- Bootstrap core JavaScript-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="assets/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="assets/js/app-script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- include jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include DataTables -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


  
</body>


</html>