<%- include('../layouts/header.ejs') -%>
	<!-- Shoping Cart -->


	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-xl-9 m-auto m-b-50">
					<div class="m-lr-25 m-r--38 m-lr-0-xl mt-3 me-3"
						style="background-color: rgba(248, 242, 234, 0.8); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.455);">
						<div class="wrap-table-shopping-cart">
							<% if(cart && cart.items && cart.items.length > 0) { %>
								<div class="table-responsive">
									<table class="responsive-table table-shopping-cart">
										<!-- Table header -->
										<tr class="table_head bg-dark">
											<th class="column-1 text-white">Product</th>
											<th class="column-2 text-white">Name</th>
											<th class="column-3 text-white">Price</th>
											<th class="column-4 text-white">Quantity</th>
											<th class="column-1 text-white"></th>
										</tr>
										<% cart.items.forEach(item => { %>
										<tr class="table_row">
											<td class="column-1">
												<div class="how-itemcart">
													<img src="/webimages/<%= item.product_id.images[0] %>" height="70%" width="70%">
												</div>
											</td>
											<td class="column-2" style="font-weight: bold;">
												<%= item.product_id.name %>
											</td>
											<td class="column-3">
												<% var discount = 0; %>
												<% if (item.product_id.offer) { %>
												<% discount = (item.product_id.price * item.product_id.offer.percentage / 100).toFixed(0); %>
												<% } %>
												<% if (categories.length > 0) { %>
												<% categories.forEach(category => { %>
												<% if (category.offer && category.categoryName === item.product_id.category) { %>
												<% discount = (item.product_id.price * category.offer.percentage / 100).toFixed(0); %>
												<% } %>
												<% }); %>
												<% } %>
												<% if (discount > 0) { %>
												<span class="mb-0 stext-105 cl3">
													<del class="text-danger text-decoration-line-through">₹ <%= item.product_id.price * item.quantity %></del>
													<span class="price stext-105 cl3">₹ <%= (item.product_id.price - discount) * item.quantity %>
													</span>
												</span>
												<% } else { %>
												<span class="stext-105 cl3">₹ <%= item.product_id.price %></span>
												<% } %>
											</td>
											<td class="column-4">
												<div class="wrap-num-product flex-w m-l-auto m-r-0">
													<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"
														onclick="increaseQuantity('<%= cart._id %>','<%= item.product_id._id %>',-1)">
														<i class="fs-16 zmdi zmdi-minus"></i>
													</div>
													<input class="mtext-104 cl3 txt-center num-product" type="text" name="quantity" min="1"
														max="100" value="<%= item.quantity %>" readonly>
													<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"
														onclick="increaseQuantity('<%= cart._id %>','<%= item.product_id._id %>',1)">
														<i class="fs-16 zmdi zmdi-plus"></i>
													</div>
												</div>
											</td>
											<td class="column-1"><button onclick="deleteProduct('<%= item.product_id._id %>')"
													class="form-control btn-sm w-50 btn btn-outline-danger me-5">Delete</button></td>
										</tr>
										<% }); %>
									</table>
								</div>
								
							<% } else { %>
							<p>No items in the cart</p>
							<% } %>
						</div>
					</div>
				</div>
	
				<% if (subTotal > 0) { %>
				<div class="col-lg-4 col-xl-3 m-auto m-b-50 mt-5">
					<!-- Cart totals and checkout summary -->
					<div class="bor10 p-lr-20 p-t-10 p-b-40 m-l-20 m-r-0-sm"
						style="background-color:white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.455);">
						<!-- Cart totals section -->
						<h4 class="mtext-109 cl2 p-b-30 text-dark">Cart Totals</h4>
						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">Subtotal:</span>
							</div>
							<div class="size-209">
								<span class="mtext-110 cl2">₹<%= subTotal %></span>
							</div>
						</div>
						<br>
						<a class="btn btn-dark" href="/checkout"
							style="text-decoration: none; color: rgb(251, 247, 247);">Proceed to Checkout</a>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</form>
	




	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us
						on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
								placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
						class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
						target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
						target="_blank">ThemeWagon</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script>
		// delete cart product
		async function deleteProduct(productId) {
			try {
				const response = await fetch(`/deleteProduct/${productId}`, {
					method: 'DELETE'
				});

				if (response.ok) {
					console.log('delete successfully');

				} else {
					console.log('cannot delete');
				}
			} catch (error) {
				console.error('Error:', error);
			}
		}
	</script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<script>
		// Get the input element
		const inputField = document.querySelector('.num-product');

		// Get the plus button element
		const plusButton = document.querySelector('.btn-num-product-up');

		// Event listener for input change
		inputField.addEventListener('change', function () {
			const currentValue = parseInt(inputField.value);
			const maxValue = parseInt(inputField.getAttribute('max'));

			// Check if the current value equals the maximum value
			if (currentValue === maxValue) {
				// Hide the plus button
				plusButton.style.display = 'none';
			} else {
				// Show the plus button if it was hidden
				plusButton.style.display = 'block';
			}
		});

	</script>

	<script>
		function increaseQuantity(cartId, productId, count) {
			$.ajax({
				url: '/changeQuantity',
				method: 'post',
				data: {
					cartId: cartId,
					productId: productId,
					count: count
				},
				success: (response) => {
					if (response.success) {
						$('#reloadDiv').load('/cart #reloadDiv')
					} else {
						Swal.fire({
							title: 'Error',
							icon: 'error',
							text: response.message,
							timer: 3000
						})
					}
				},
				error: (error) => [
					Swal.fire({
						title: 'Error',
						icon: 'error',
						text: error.message,
						timer: 2000
					})
				]
			})
		}
	</script>

	<!--===============================================================================================-->
	<script src="js/main.js"></script>

	</body>

	</html>