<div class="card-body">
    <form action="" method="post">
        <div class="form-group">
            <label class="form-label">Username</label>
            <input type="hidden" class="form-control mb-1" name="id" value="<%=user._id%>">
            <input type="text" class="form-control mb-1" name="username"
                value="<%=user.username%>">
        </div>
        <div class="form-group">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" value="<%=user.email%>"
                readonly>
            <button class="btn btn-sm btn-outline-danger rounded-pill badge mt-1"><a href="/changemail?email=<%=user.email%>">edit </a><i
                    class="fa-solid fa-pen-to-square text-danger"></i></button>

        </div>
        <div class="form-group">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control mb-1" name="mobileNumber"
                value="<%=user.mobileNumber%>">

        </div>
        <div class="form-group">

            <a class="list-group-item list-group-item-action form-control w-25 text-center "
                href="/changepassword">Change Password?</a>
        </div>
        <div class="text-right mt-3">
            <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;

        </div>
    </form>
</div>


router.post('/profile',userController.editProfile)


const editProfile = async (req, res) => {
    try {
        const userId = req.session.user_id; // Assuming the correct session key is used to store the user ID
        console.log('session:', userId);

        const { username, mobileNumber } = req.body;



        await User.findByIdAndUpdate(
            userId,
            {
                $set: {
                    username,
                    mobileNumber
                }
            },
            { new: true }
        );

        res.redirect('/profile');
    } catch (error) {
        console.log(error);
        // Handle the error appropriately (e.g., send an error response)
    }
};
