<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .page-link {
            display: inline-block;
            padding: 8px 12px;
            margin: 0 4px;
            border: 1px solid #ccc;
            border-radius: 4px;
            text-decoration: none;
            color: #333;
            transition: background-color 0.3s ease;
        }

        .page-link:hover {
            background-color: #f0f0f0;
        }

        .page-link.active {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }
    </style>

</head>

<body class="animsition">

    <!-- Header -->
    <header class="header-v2">
        <!-- Header desktop -->
        <div class="container-menu-desktop trans-03 ">
            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop p-l-45">

                    <!-- Logo desktop -->
                    <a href="/home" class="logo">
                        <img src="images/icons/logo-01.png" alt="IMG-LOGO">
                    </a>
                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu ">
                            <li>
                                <a href="/" class="text-decoration-none">Home</a>

                            </li>

                            <li>
                                <a href="/shop" class="text-decoration-none  fw-bold">Shop</a>
                            </li>
                            <li>
                                <a href="/about" class="text-decoration-none">About</a>
                            </li>
                            <li class="label1">
                                <a href="/cart" class="text-decoration-none">Cart</a>
                            </li>

                            <li>
                                <a href="/contact" class="text-decoration-none">Contact</a>

                            </li>


                            <!-- Profile link -->
                            <li>
                                <div class="dropdown">
									<button class=" text-dark  btn-sm fw-bold" type="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										<%=locals.user?user.username:"PROFILE"%>
									</button>
									<ul class="dropdown-menu bg-transparent ">
										
											<li> <a class="dropdown-item bg-dark text-white" href="/userprofile">User profile</a>
									
										
										<!-- <li><a class="dropdown-item bg-dark text-white" href="/login"> -->
											<%if(locals.user){%>
												<a class="dropdown-item bg-dark text-white" href="/logout">Logout</a>
											<%}else{%>
											    <a class="dropdown-item bg-dark text-white" href="/login">Login</a>
											<%}%>
										</li>
										
									</ul>
								</div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>





    </header>



    <!-- categories -->
    <div class="container">
    <div class="flex-w flex-sb-m p-b-52">
        <div class="flex-w flex-l-m filter-tope-group m-tb-10">
            
            <a href="/shop">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    All Products
                </button>
            </a>
    
            <% if(categories.length > 0) { %>
                <% for (let i=0; i < categories.length; i++) { %>
                    <a href="/shop?categoryId=<%=categories[i].categoryName%>">
                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                            <%=categories[i].categoryName%>
                        </button>
                    </a>
                <% } %>
            <% } %>
            <div class="form-group d-flex ">
                <label for="priceSort" class=" fw-bold mt-3" style="white-space: nowrap;">Sort by Price:</label>
                <select name="priceSort" id="priceSort" class="form-control border-dark w-50 ms-3 mt-2">
                    <option value="">Default</option>
                    <option value="asc">Low to High</option>
                    <option value="desc">High to Low</option>
                </select>
            </div>

           
            
            
        </div>
        <div class="container-fluid">
            <div class="row justify-content-end">
              <div class="col-md-4">
                <form action="#" class="search-form">
                  <div class="form-group">
                    <span class="icon ion-ios-search"></span>
                    <input type="text" class="form-control border-dark" id="searchInput" placeholder="Search for a product" autocomplete="off">
                  </div>
                </form>
              </div>
            </div>
          </div>
       
    </div>
    
</div>


    



    
        


            <!-- products -->
            <div class="container">
            <div class="row isotope-grid" id="product-listing">
                <% if(products.length> 0) { %>
                    <% products.forEach(product=> { %>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-pic hov-img0 label-new" data-label="New">
                                    <img src="/sharpimages/<%= product.images[0] %>" alt="IMG-PRODUCT">

                                    <a href="/productdetails?id=<%= product._id %>"
                                        class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                        Quick View
                                    </a>

                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <p class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            <%= product.name %>
                                        </p>

                                        <span class="stext-105 cl3">
                                            $<%= product.price %>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <h3>No products available</h3>
                                <% } %>
            </div>
        </div>







            <!-- <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center" id="paginationList">
                    Pagination items will be dynamically added here -->
            <!-- </ul> -->
            <!-- </nav> -->


            <div class="pagination mb-3">
                <% for (let i=1; i <=totalPages; i++) { %>
                    <a href="#" class="page-link" data-page="<%= i %>">
                        <%= i %>
                    </a>
                    <% } %>
            </div>


        </div>
    </div>




    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Categories
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Women
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Men
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Shoes
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Watches
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Help
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Track Order
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Returns
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Shipping
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                FAQs
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        GET IN TOUCH
                    </h4>

                    <p class="stext-107 cl7 size-201">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us
                        on (+1) 96 716 6879
                    </p>

                    <div class="p-t-27">
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Newsletter
                    </h4>

                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                                placeholder="email@example.com">
                            <div class="focus-input1 trans-04"></div>
                        </div>

                        <div class="p-t-18">
                            <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
                    </a>
                </div>

                <!-- <p class="stext-107 cl6 txt-center">
                     Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved |Made with <i
                        class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
                        target="_blank">ThemeWagon</a>
                     Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.

                </p> -->
            </div>
        </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <!-- Modal1 -->


    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>

    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/slick/slick.min.js"></script>
    <script src="js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/sweetalert/sweetalert.min.js"></script>

    <!--===============================================================================================-->
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        // pagination
        // Function to create pagination links
        // Event handler for pagination links
        // Function to handle pagination click
        $(document).ready(function () {
            var searchTerm;
            var selectedCategory;
            var currentPage = 1; // Initialize the current page
            console.log('sdfsdfsd');


            function sendFilterRequest(data, successCallback) {
                console.log('data:', data);
                $.ajax({
                    url: '/shop/filter',
                    method: 'GET',
                    data: data,
                    success: function (response) {
                        console.log('response:', response);

                        // Clear pagination and product listing elements
                        // $('.pagination').empty();
                        $('#product-listing').empty();

                        // Check if the response was successful and data exists
                        if (response.success && response.data && response.data.length > 0) {
                            // Loop through each product in the response and create product cards
                            response.data.forEach(product => {
                                var productCard = `
                              
              
                               <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 ">
                            <!-- Block2 -->
                               <div class="block2">
                                <div class="block2-pic hov-img0 label-new" data-label="New">
                                    <img src="/sharpimages/${product.images[0]}" alt="IMG-PRODUCT">

                                    <a href="/productdetails?id=${product._id}"
                                        class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <p 
                                            class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            ${product.name}
                                        </p>

                                        <span class="stext-105 cl3">
                                            $${product.price}
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                   `;

                                // Append the product card to the product listing
                                $('#product-listing').append(productCard);
                            });
                        } else {
                            // If no products available, display a message
                            $('#product-listing').html('<h3>No products available</h3>');
                        }

                        // Call the success callback if provided
                        if (successCallback && typeof successCallback === 'function') {
                            successCallback(response);
                        }
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }



            function performSearch(pageNumber) {
                console.log('pageNOO:::', pageNumber);
                var data = {
                    search: searchTerm,
                    category: selectedCategory,
                    page: pageNumber, // Update the page parameter
                    //   priceFrom: $('#priceFrom').val(), // Add the price filters
                    //   priceTo: $('#priceTo').val(),
                    priceSort: $('#priceSort').val()
                };
                sendFilterRequest(data);
            }

            // Live search as the user types
            $('#searchInput').on('input', function () {
                searchTerm = $(this).val().trim();
                selectedCategory = getSelectedCategory();
                currentPage = 1; // Reset current page when searching
                performSearch();
            });

            // Helper function to get selected category
            function getSelectedCategory() {
                var selectedCategoryElement = $('.categories.panel li.selected-category a');
                return selectedCategoryElement.length > 0
                    ? selectedCategoryElement.attr('href').split('=')[1]
                    : undefined;
            }

            // Event handler for category filter
            $('.categories.panel li a').on('click', function (e) {
                e.preventDefault();
                $('.categories.panel li').removeClass('selected-category');
                $(this).parent('li').addClass('selected-category');
                var category = $(this).attr('href').split('=')[1];
                $('#priceFrom').val('');
                $('#priceTo').val('');
                currentPage = 1; // Reset current page when changing category
                var data = { category: category };
                sendFilterRequest(data);
            });

            // Event handler for sorting option change
            $('#priceSort').change(function () {
                var selectedSortOption = $(this).val();
                // var selectedCategory = getSelectedCategory();
                var formData = '&priceSort=' + selectedSortOption;
                // formData += selectedCategory ? '&category=' + selectedCategory : '';
                // var priceSliderData = $('#priceSlider').data("ionRangeSlider").result;
                // formData += '&priceFrom=' + priceSliderData.from;
                // formData += '&priceTo=' + priceSliderData.to;


                currentPage = 1;
                var data = formData;
                sendFilterRequest(data);
            });

           

            // Event handler for pagination links
            $(document).on('click', '.pagination a.page-link', function (e) {
                e.preventDefault();
                var currentPage = $(this).data('page');
                selectedCategory = getSelectedCategory();
                performSearch(currentPage);


                // Scroll to the top of the page
                $('html body').animate({ scrollTop: 0 }, 'slow');
            });
        });



             $('#filterForm').submit(function (e) {
                e.preventDefault();

                // Serialize the form data
                var formData = $(this).serialize();

                // Get the price range values from the slider
                var priceSliderData = $('#priceSlider').data("ionRangeSlider").result;
                console.log('1:', priceSliderData.from);
                console.log('2:', priceSliderData.to);
                formData += '&priceFrom=' + priceSliderData.from;
                formData += '&priceTo=' + priceSliderData.to;

                // Get the selected category
                var selectedCategory = getSelectedCategory();
                formData += selectedCategory ? '&category=' + selectedCategory : '';

                var selectedPriceSort = $('#priceSort').val();
                formData += '&priceSort=' + selectedPriceSort;

                // Reset current page when applying filters
                currentPage = 1;

                // Send the filter request
                var data = formData;
                sendFilterRequest(data);
              });





    </script>
    

    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>

</html>