<%- include('../layouts/header.ejs') -%>

<div class="container">
    <div class="flex-w flex-sb-m p-b-52">
        <!-- Filter -->
        <div class="flex-w flex-c-m m-tb-10">
            <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                Filter
            </div>
        </div>

        <div class="dis-none panel-filter w-full p-t-10">
            <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                <div class="filter-col1 p-r-15 p-b-27 d-flex">
                    <div class="mtext-102 cl2 p-b-15 mt-2">
                        Sort By :
                    </div>
                    <select name="priceSort" id="priceSort" class="form-control bg-transparent w-auto ms-2 ">
                        <option value="">Default</option>
                        <option value="asc">Low to High</option>
                        <option value="desc">High to Low</option>
                    </select>
                </div>

                <div class="filter-col2 p-r-15 p-b-27 d-flex">
                    <div class="mtext-102 cl2 p-b-15">
                        categories:
                    </div>
                    <ul class="d-flex">
                        <li class="p-b-6">
                            <a href="/shop">
                                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
                                    data-filter="*">
                                    All
                                </button>
                            </a>
                        </li>
                        <% if (categories.length > 0) { %>
                            <% for (let i=0; i < categories.length; i++) { %>
                                <li class="p-b-6 ">
                                    <a href="/shop?categoryId=<%=categories[i].categoryName%>">
                                        <button class="stext-106  cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
                                            data-filter="*">
                                            <%=categories[i].categoryName%>
                                        </button>
                                    </a>
                                </li>
                            <% } %>
                        <% } else { %>
                            <li class="p-b-6">
                                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
                                    data-filter="*">
                                    There are no categories
                                </button>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Search Form -->
        <div class="search-form ml-auto">
            <form action="#" class="search-form ">
                <div class="form-group mb-0">
                    <span class="icon ion-ios-search"></span>
                    <input type="text" class="form-control border-dark" id="searchInput"
                        placeholder="Search for a product" autocomplete="off">
                </div>
            </form>
        </div>
    </div>
</div>




    <!-- products -->
    <div class="container">
        <div class="row isotope-grid" id="product-listing">
            <% if (products.length> 0) { %>
                <% products.forEach(product=> { %>
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0 label-new" data-label="New">
                                <img src="/sharpImages/<%= product.images[0] %>" alt="IMG-PRODUCT">
                                <a href="/productdetails?id=<%= product._id %>"
                                    class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
                                    Quick View
                                </a>

                                <div>
                                    <% if (product.offer) { %>
                                        <span class="status  text-light badge badge-danger rounded-pill p-1 img-fluid"
                                            style="position: absolute;top: 3%;left: 70%;">
                                            <%= product.offer.percentage %>% off
                                        </span>
                                        <% } else if (categories.length> 0) { %>
                                            <% categories.forEach(category=> { %>
                                                <% if (category.offer && category.categoryName===product.category) { %>
                                                    <span class="status  text-white badge badge-danger rounded-pill p-1"
                                                        style="position: absolute;top: 3%;left: 70%;">
                                                        <%= category.offer.percentage %>% off
                                                    </span>
                                                    <% } %>
                                                        <% }) %>
                                                            <% } %>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l">
                                        <span class="stext-104 cl4 hov-cl1 trans-04 js-name-b2">
                                            <%= product.name %>
                                        </span>

                                        <% var discount=0; %>
                                            <% if (product.offer) { discount=(product.price * product.offer.percentage /
                                                100).toFixed(0); } %>
                                                <% if (categories.length> 0) { %>
                                                    <% categories.forEach(category=> { %>
                                                        <% if (category.offer &&
                                                            category.categoryName===product.category) { %>
                                                            <% discount=(product.price * category.offer.percentage /
                                                                100).toFixed(0); %>
                                                                <% } %>
                                                                    <% }) %>
                                                                        <% } %>

                                                                            <% if (discount> 0) { %>
                                                                                <span class="mb-0 stext-105 cl3">
                                                                                    <del
                                                                                        class="text-danger text-decoration-line-through">₹
                                                                                        <%= product.price %></del>
                                                                                    <span class="price stext-105 cl3">₹
                                                                                        <%= product.price - discount %>
                                                                                            <span
                                                                                                class="badge badge-success"
                                                                                                style="position: absolute;bottom: 70px;left: 5px;">Save
                                                                                                ₹<%= discount %></span>
                                                                                    </span>
                                                                                </span>
                                                                                <% } else { %>
                                                                                    <span class="stext-105 cl3">₹<%=
                                                                                            product.price %></span>
                                                                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <h3>No products available</h3>
                            <% } %>
        </div>
    </div>


    </div>







    <!-- <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center" id="paginationList">
                    Pagination items will be dynamically added here -->
    <!-- </ul> -->
    <!-- </nav> -->


    <div class="pagination mb-3 d-flexn justify-content-center">
        <% for (let i=1; i <=totalPages; i++) { %>
            <a href="#" class="page-link " data-page="<%= i %>">
                <%= i %>
            </a>
            <% } %>
    </div>


    </div>
    </div>




    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Categories
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Women
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Men
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Shoes
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Watches
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Help
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Track Order
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Returns
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Shipping
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                FAQs
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        GET IN TOUCH
                    </h4>

                    <p class="stext-107 cl7 size-201">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us
                        on (+1) 96 716 6879
                    </p>

                    <div class="p-t-27">
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Newsletter
                    </h4>

                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                                placeholder="email@example.com">
                            <div class="focus-input1 trans-04"></div>
                        </div>

                        <div class="p-t-18">
                            <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
                    </a>
                </div>

                <!-- <p class="stext-107 cl6 txt-center">
                     Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved |Made with <i
                        class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
                        target="_blank">ThemeWagon</a>
                     Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.

                </p> -->
            </div>
        </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <!-- Modal1 -->


    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>

    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/slick/slick.min.js"></script>
    <script src="js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/sweetalert/sweetalert.min.js"></script>

    <!--===============================================================================================-->
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var searchTerm;
            var selectedCategory;
            var currentPage = 1;

            function sendFilterRequest(data, successCallback) {
                $.ajax({
                    url: '/shop/filter',
                    method: 'GET',
                    data: data,
                    success: function (response) {
                        $('#product-listing').empty();

                        if (response.success && response.data && response.data.length > 0) {
                            response.data.forEach(product => {
                                var discount = 0;

                                if (product.offer) {
                                    discount = (product.price * product.offer.percentage / 100).toFixed(0);
                                }

                                const categoryOffer = response.categories.find(category => category.categoryName === product.category);

                                var productCard = `
                                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 ">
                                        <div class="block2">
                                            <div class="block2-pic hov-img0 label-new" data-label="New">
                                                <img src="/webimages/${product.images[0]}" alt="IMG-PRODUCT">
                                                <a href="/productdetails?id=${product._id}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                                    Quick View
                                                </a>`;

                                if (product.offer) {
                                    productCard += `
                                        <div>
                                            <span class="status text-light badge badge-danger rounded-pill p-1" style="position: absolute;top: 3%;left: 70%;">
                                                ${product.offer.percentage}% off
                                            </span>
                                        </div>`;
                                }

                                if (categoryOffer && categoryOffer.offer) {
                                    productCard += `
                                        <span class="status text-white badge badge-danger rounded-pill p-1" style="position: absolute;top: 3%;left: 70%;">
                                            ${categoryOffer.offer.percentage}% off
                                        </span>`;
                                }

                                productCard += `
                                            <div class="block2-txt flex-w flex-t p-t-14">
                                                <div class="block2-txt-child1 flex-col-l">
                                                    <p class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                        ${product.name}
                                                    </p>`;

                                if (discount > 0) {
                                    productCard += `
                                        <span class="mb-0 stext-105 cl3">
                                            <del class="text-danger text-decoration-line-through">₹${product.price}</del>
                                            <span class="price stext-105 cl3">₹${product.price - discount}
                                                <span class="badge badge-success" style="position: absolute;bottom: 120px;left: 20px;">Save ₹${discount}</span>
                                            </span>
                                        </span>`;
                                } else {
                                    productCard += `
                                        <span class="stext-105 cl3">
                                            ₹${product.price}
                                        </span>`;
                                }

                                productCard += `
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;

                                $('#product-listing').append(productCard);
                            });
                        } else {
                            $('#product-listing').html('<h3>No products available</h3>');
                        }

                        if (successCallback && typeof successCallback === 'function') {
                            successCallback(response);
                        }
                    }
                });
            }

            function performSearch(pageNumber) {
                var data = {
                    search: searchTerm,
                    category: selectedCategory,
                    page: pageNumber,
                    priceSort: $('#priceSort').val()
                };
                sendFilterRequest(data);
            }

            $('#searchInput').on('input', function () {
                searchTerm = $(this).val().trim();
                selectedCategory = getSelectedCategory();
                currentPage = 1;
                performSearch();
            });

            function getSelectedCategory() {
                var selectedCategoryElement = $('.categories.panel li.selected-category a');
                return selectedCategoryElement.length > 0
                    ? selectedCategoryElement.attr('href').split('=')[1]
                    : undefined;
            }

            $('.categories.panel li a').on('click', function (e) {
                e.preventDefault();
                $('.categories.panel li').removeClass('selected-category');
                $(this).parent('li').addClass('selected-category');
                var category = $(this).attr('href').split('=')[1];
                $('#priceFrom').val('');
                $('#priceTo').val('');
                currentPage = 1;
                var data = { category: category };
                sendFilterRequest(data);
            });

            $('#priceSort').change(function () {
                var selectedSortOption = $(this).val();
                var formData = '&priceSort=' + selectedSortOption;
                currentPage = 1;
                var data = formData;
                sendFilterRequest(data);
            });

            $(document).on('click', '.pagination a.page-link', function (e) {
                e.preventDefault();
                var currentPage = $(this).data('page');
                selectedCategory = getSelectedCategory();
                performSearch(currentPage);
                $('html body').animate({ scrollTop: 0 }, 'slow');
            });

            $('#filterForm').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                var priceSliderData = $('#priceSlider').data("ionRangeSlider").result;
                formData += '&priceFrom=' + priceSliderData.from;
                formData += '&priceTo=' + priceSliderData.to;
                var selectedCategory = getSelectedCategory();
                formData += selectedCategory ? '&category=' + selectedCategory : '';
                var selectedPriceSort = $('#priceSort').val();
                formData += '&priceSort=' + selectedPriceSort;
                currentPage = 1;
                var data = formData;
                sendFilterRequest(data);
            });
        });
    </script>



    <!--===============================================================================================-->
    <script src="js/main.js"></script>

    </body>

    </html>