<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home 03</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .op {
            display: flex;

            /* Use flexbox to arrange items */
        }

        .options label {
            margin-right: 20px;
            /* Add some spacing between the options */
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            border-radius: 8px;
            position: relative;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 6px;
        }

        input[type="text"],
        input[type="submit"] {
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
    </style>

</head>

<body class="animsition">

    <!-- Header -->
    <header class="header-v3">
        <!-- Header desktop -->
        <div class="container-menu-desktop trans-03">
            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop p-l-45">

                    <!-- Logo desktop -->
                    <a href="/home" class="logo">
                        <img src="images/icons/logo-02.png" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu n">
                            <li>
                                <a href="/home" style="text-decoration: none;">Home</a>

                            </li>

                            <li>
                                <a href="/shop" style="text-decoration: none;">Shop</a>
                            </li>

                            <li class="label1" data-label1="">
                                <a href="/cart" style="text-decoration: none;">Cart</a>
                            </li>

                            <li>
                                <a href="/about" style="text-decoration: none;">About</a>
                            </li>

                            <li>
                                <a href="/contact" style="text-decoration: none;">Contact</a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-transparent text-white  btn-sm fw-bold" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <%=locals.user?user.username:"PROFILE"%>
                                    </button>
                                    <ul class="dropdown-menu bg-transparent ">

                                        <a class="dropdown-item bg-dark text-white" href="/profile">User profile</a>


                                        <!-- <li><a class="dropdown-item bg-dark text-white" href="/login"> -->
                                        <%if(locals.user){%>
                                            <a class="dropdown-item bg-dark text-white" href="/logout">Logout</a>
                                            <%}else{%>
                                                <a class="dropdown-item bg-dark text-white" href="/login">Login</a>
                                                <%}%>
                                                    </a>
                            </li>

                        </ul>
                    </div>
                    </li>
                    </ul>
            </div>

        </div>


    </header>








    <!-- Shoping Cart -->


    <form class="bg0 p-t-75 p-b-85 ">
        <div class="container mb-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light p-3 rounded-3">
                    <li class="breadcrumb-item">
                        <a href="/home" class="text-decoration-none text-muted ">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/shop" class="text-decoration-none text-muted">Shop</a>
                    </li>

                    <li class="breadcrumb-item">
                        <a href="/profile" class="text-decoration-none text-dark fw-bold">Profile</a>
                    </li>

                </ol>
            </nav>
        </div>

        <%
        function getStatusText(status) {
            switch (status) {
                case 'cancelled':
                    return 'Cancelled';
                case 'request_cancellation':
                    return 'Cancellation Requested';
                case 'request_return':
                    return 'Return Requested';
                case 'returned':
                    return 'Returned';
                case 'delivered':
                    return 'Delivered';
                case 'shipped':
                    return 'Shipped'; // Add a case for "shipped"
                case 'placed':
                    return 'Placed'; // Add a case for "placed"
                default:
                    console.log('Unknown Status:', status);
                    return 'Unknown';
            }
        }
        %>
        
        <%
        function getProgressBarWidth(status) {
            let width;
            switch (status) {
                case 'cancelled':
                    width = '25%';
                    break;
                case 'request_cancellation':
                case 'request_return':
                    width = '50%';
                    break;
                case 'returned':
                    width = '75%';
                    break;
                case 'delivered':
                    width = '100%';
                    break;
                case 'out_for_delivery':
                case 'shipped':
                    width = '50%';
                    break;
                case 'placed':
                    width = '25%';
                    break;
                default:
                    width = '0%';
                    console.log('Unknown Status:', status);
                    break;
            }
            console.log('Status:', status, 'Width:', width);
            return width;
        }
        %>
        
                <div class="container w-75 rounded">

                    <% if (order && order.items && order.items.length> 0) { %>
                        <% order.items.forEach((item, index)=> { %>
                            <div class="order-details p-4">

                                <div class="d-flex flex-wrap">

                                    <img src="/webimages/<%= item.product_id.images[1] %>"
                                        class="img-fluid me-2 mb-2 rounded-5" width="20%" height="20%"
                                        alt="image not display">

                                    <div>
                                        <p class="display-4 fw-bold text-center text-success">
                                            <%= item.product_id.name%>
                                        </p>
                                        <table class="table ">
                                            <tr>
                                                <th>Total</th>
                                                <td>₹ <%= item.total_price %></td>
                                            </tr>
                                            <tr>
                                                <th>Delivery Address</th>
                                                <td><%= order.delivery_address %></td>
                                            </tr>
                                            <tr>
                                                <th>Order Date</th>
                                                <td><%= moment(order.date).format('DD/MM/YYYY') %></td>
                                            </tr>
                                            <tr>
                                                <th>Payment Method</th>
                                                <td><%= order.payment %></td>
                                            </tr>
                                            <tr>
                                                <th>Expected Delivery</th>
                                                <td><%= order.expected_delivery %></td>
                                            </tr>
                                        </table>
                                        
                                    </div>

                                </div>

                                <!-- Now you can use getStatusText and getProgressBarWidth in your template -->
                                <div class="progress mt-3 ">
                                    <div class="progress-bar bg-danger" role="progressbar" 
                                        style="width: <%= getProgressBarWidth(item.ordered_status) %>; text-align: end;">
                                        <%= getProgressBarWidth(item.ordered_status) %>
                                    </div>
                                </div>
                                

                                <!-- Display status under the progress bar -->
                                <div class="mt-2 text-end text-danger">
                                    <p><strong>Status:</strong>
                                        <%= getStatusText(item.ordered_status) %>
                                    </p>
                                </div>
                                

                                <div class="item-actions mt-2">
                                    <% if (!['request_cancellation', 'cancelled' , 'request_return' , 'returned'
                                        ].includes(item.ordered_status)) { %>
                                        <% if (item.ordered_status==='delivered' ) { %>
                                            <% const currentDate=new Date(); %>
                                                <% const returnPolicyDays=7; %>

                                                    <!-- Calculate the return expiry date based on the current date -->
                                                    <% const returnExpiryDate=new Date(order.date); %>
                                                        <% console.log('gunda', returnExpiryDate) %>
                                                            <% returnExpiryDate.setDate(returnExpiryDate.getDate() +
                                                                returnPolicyDays); %>

                                                                <% if (currentDate <=returnExpiryDate) { %>
                                                                    <button
                                                                        class="cancel-btn return-btn btn btn-outline-danger"
                                                                        onclick="returnOrder('<%= order._id %>','<%= item._id %>',event)">Return
                                                                        Item</button>
                                                                    <p class="text-muted mt-3" id="return-text">Please
                                                                        note
                                                                        that
                                                                        order returns are only possible within <%=
                                                                            returnPolicyDays %> days from the delivery
                                                                            date.
                                                                    </p>
                                                                    <% } else { %>
                                                                        <p class="text-muted mt-3">Return expired</p>
                                                                        <% } %>

                                                                            <% } else { %>
                                                                                <button
                                                                                    class="cancel-btn btn btn-outline-danger"
                                                                                    onclick="cancelOrder('<%= order._id %>','<%= item._id %>',event)">Cancel
                                                                                    Item</button>
                                                                                <% } %>
                                                                                    <% } %>
                                </div>

                            </div>
                            <% }) %>
                                <% } else { %>
                                    <div class="no-items">No items found in the order.</div>
                                    <!-- If the order or items are null or empty, show a message or handle as needed -->
                                    <% } %>
                </div>



    </form>











    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Categories
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Women
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Men
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Shoes
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Watches
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Help
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Track Order
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Returns
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Shipping
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                FAQs
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        GET IN TOUCH
                    </h4>

                    <p class="stext-107 cl7 size-201">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call
                        us
                        on (+1) 96 716 6879
                    </p>

                    <div class="p-t-27">
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Newsletter
                    </h4>

                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                                placeholder="email@example.com">
                            <div class="focus-input1 trans-04"></div>
                        </div>

                        <div class="p-t-18">
                            <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
                    </a>
                </div>

                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
                        class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
                        target="_blank">ThemeWagon</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </p>
            </div>
        </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>



    <script>

        function cancelOrder(orderId, itemId, event) {
            event.preventDefault()
            // console.log('order', orderId);
            // console.log('item', itemId);
            Swal.fire({
                title: 'Are you sure?',
                text: 'Please provide a reason for the cancellation:',
                input: 'text',
                showCancelButton: true,
                confirmButtonText: 'Cancel Order',
                cancelButtonText: 'Close',
                preConfirm: (reason) => {
                    return fetch('/cancel-order', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            orderId,
                            itemId,
                            reason: reason,
                        }),
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to cancel order');
                            }
                        })
                        .catch(error => {
                            Swal.showValidationMessage(`Request failed: ${error}`);
                        });
                },
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Order Cancellation requested!',
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'OK'
                    }).then(() => {

                        // Redirect to /orders after clicking OK on the success message
                        window.location.href = '/vieworders?orderId=<%= order._id %>';
                    });
                }
            });
        }


        function returnOrder(orderId, itemId, event) {
            event.preventDefault()
            Swal.fire({
                title: 'Are you sure?',
                text: 'Please provide a reason for returning the item :',
                input: 'text',
                showCancelButton: true,
                confirmButtonText: 'Return Order',
                cancelButtonText: 'Close',
                preConfirm: (returnReason) => {
                    return fetch('/cancel-order', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            orderId,
                            itemId,
                            returnReason: returnReason,
                        }),
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to cancel order');
                            }
                        })
                        .catch(error => {
                            Swal.showValidationMessage(`Request failed: ${error}`);
                        });
                },
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Order return requested!',
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'OK'
                    }).then(() => {
                        // Redirect to /orders after clicking OK on the success message
                        window.location.href = '/vieworders?orderId=<%= order._id %>';
                    });
                }
            });
        }


    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- SweetAlert CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>









</body>

</html>